body {
  background-color: #A2E8DD;
}

#root {
  max-width: 1280px;
  margin: auto;
  margin-top: 0;
  padding: 2rem;
  text-align: center;
}

.maindiv {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding-top: 1%;
  padding-bottom: 3%;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  justify-items: center;
}

.nav {
  padding-bottom: 1%;
  margin: auto;
  position: sticky;
  z-index: 100;
  top: 0;
}

.navbar {
  background-color: #40536F;
  border-radius: 8px;
  padding: 10px;
  max-width: fit-content;
  margin: 0 auto;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
}

.navbar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-menu li {
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
}

.navbar-menu li a {
  color: #32DE8A;
}

.navbar-menu li:last-child {
  margin-right: 0;
}

.navbar-menu li:not(:last-child) {
  border-right: 1px solid #ccc;
}

.profile h2 {
  margin-right: 47%;
}

.profile table {
  margin-left: 15%;
}

.profile td {
  text-align: left;
}

.profile th {
  text-align: left;
}