body {
    background-color:rgb(241, 195, 135) ;
}

h1 {
    text-align: center;
}

.loginDiv {
    height: 95px;
    width: 180px;
    float: right;
    position: relative;
    top: -50px;
    right: 15px;
    text-align: center;
}

.mainDiv {
    max-width: 70%;
    max-height: 100%;
    border: 1px solid grey;
    background-color: rgb(238, 207, 168);
    margin: auto;
    padding: 5px;
    display: block;
    margin-top: 10px;
    text-align: center;
}

.error {
    color: red;
}